.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:-20px;
    margin-bottom:25px;
}
.top-header{
    color:rgb(134, 93, 175);
    font-size:40px;
    margin-bottom:15px;
}
.sub-header{
    color:white;
    font-size:12px;
}

