.sidebar{
    height:620px;
    color:white;
    width:200px;
    margin-right:15px;
    margin-left:150px;
    margin-top:5px;
    border-radius:10px;
    background-color:rgb(134, 93, 175);
}
.bio-data{
    letter-spacing:2px;
    font-size:13px;
}
.name {
    padding-top:-50px;
    margin-top:10px;
    margin-left:12px;
}
.birthday,.role,.email,.phone,.website,.internets,.social{
    margin-left:12px;
}
.detail{
    font-size:13px;
    margin-top:1px;
}
.social{
    display:flex;
    flex-direction:column;
    
}    

.icon-box{
    position:relative;
    display:inline-block;
    cursor:pointer;
    font-size:20px;
}
.icon-box .tooltip{
    position:absolute;
    opacity:0;
    font-size:10px;
    border-radius:5px;
    transform:translateX(-50%);
    transition:0.5s;
    padding:4px 8px;
    background-color:rgb(95, 92, 92);
    pointer-events:none;
    
}
.icon-box:hover .tooltip{
    opacity:1;
    visibility:visible;
}
.birthday:hover,.role:hover,.email:hover,.phone:hover,.website:hover,.internets:hover{
    color:yellow;
}
.birthday:active,.role:active,.email:active,.phone:active,.website:active,.internets:active{
    color:red;
}
.icon-box:active{
    opacity:0.5;
}
.icon-box:hover{
    opacity:0.8;
}